Term 4/Podstwy inżynierii oprogramowania/lab 4/zwrot.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="zwrot">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="dane-osobowe">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="imie-i-nazwisko" type="xs:string" />
              <xs:element name="adres" type="xs:string" />
              <xs:element name="email" type="xs:string" />
              <xs:element name="telefon-kontaktowy" type="xs:unsignedInt" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="zwracany-towar">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="numer-dokumentu-zakupu" type="xs:unsignedInt" />
              <xs:element name="nazwa-towaru">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="towar">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="nazwa" type="xs:string" />
                          <xs:element name="ilosc" type="xs:unsignedByte" />
                          <xs:element name="cena" type="xs:unsignedByte" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="powod-nr" type="xs:unsignedByte" />
              <xs:element name="inny-powod-zwrotu">
                <xs:complexType>
                  <xs:attribute name="number" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="wartosc-zwracanego-towaru" type="xs:unsignedShort" />
              <xs:element name="data-zakupu" type="xs:string" />
              <xs:element name="podpis" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="dane-potrzebne-do-zwrotu-srodkow">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="numer-rachunku-bankowego" type="xs:unsignedLong" />
              <xs:element name="imie-i-nazwisko" type="xs:string" />
              <xs:element name="adres" type="xs:string" />
              <xs:element name="data" type="xs:string" />
              <xs:element name="podpis" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>